{% include 'aggregates.j2' %}

{% include 'ipspace.j2' %}

{% include 'broadcast_domain.j2' %}

{% include 'vservers.j2' %}

{% include 'export_policy.j2' %}

{% include 'export_policy_rule.j2' %}

{% include 'ethernet_lifs.j2' %}

{% include 'fc_lifs.j2' %}

{% include 'igroups.j2' %}

{% include 'subsystems.j2' %}

{% include 'volumes.j2' %}

{% include 'flexgroups.j2' %}

{% include 'luns.j2' %}

{% include 'namespaces.j2' %}
